.call-main {
  padding: 4px 50px;
  height: 100%;
  display: flex;
  justify-content: center;
}
.call-main > div {
  max-width: 600px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.calling-header > div {
  display: flex;
  align-items: center;
}
.btn-phone {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
}
.btn-phone.btn-phone-right {
  justify-content: flex-end;
}
.btn-phone > div {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
}
.btn-phone > div:hover {
  background-color: var(--color-green);
  cursor: pointer;
}
.btn-phone > div .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green-3);
  padding: 5px;
  margin-right: 8px;
  border-radius: 4px;
}
.btn-phone > div span {
  color: var(--color-green-3);
}
.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab > div {
  flex: 0 0 48%;
  background-color: var(--background);
  padding: 20px 0;
  text-align: center;

  border-radius: 8px;
}
.tab > div.active {
  background-color: var(--color-green);
}
.tab > div:hover {
  background-color: var(--color-green-1);
  cursor: pointer;
}
.tab > div > span {
  font-size: 20px;
  color: var(--color-grey);
}
.tab > div.active > span {
  color: var(--color-green-3);
}
/*  */
.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -100%; /* here*/
  transition: 0.5s ease-in-out;
  z-index: 1;
  background: var(--background);
}
.keyboard.active {
  bottom: 0;
}
.phone_number {
  max-width: 400px;
  width: 100%;
  position: relative;
}
.phone_number > input[type='text'] {
  width: 100%;
  border-radius: 8px;
  border: 0;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  -webkit-box-shadow: 0px 0px 17px -1px var(--color-green-1);
  -moz-box-shadow: 0px 0px 17px -1px var(--color-green-1);
  box-shadow: 0px 0px 17px -1px var(--color-green-1);
}
.phone_number .btn-remove {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 22px;
  color: var(--color-green-1);
}
.phone_number .btn-remove:hover {
  cursor: pointer;
  color: var(--color-green-2);
}
.keyboard .number {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px 60px;
}
.keyboard .number > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.keyboard .number > div > span {
  border-radius: 100%;
  border: 0;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  -webkit-box-shadow: 0px 0px 17px -1px var(--color-green-1);
  -moz-box-shadow: 0px 0px 17px -1px var(--color-green-1);
  box-shadow: 0px 0px 17px -1px var(--color-green-1);
  color: var(--color-green-2);
  font-size: 18px;
}
.keyboard .number > div > span:hover {
  cursor: pointer;
  color: var(--color-green-3);
}
.btn-calling {
  margin: 30px 0;
  border-radius: 50px;
  border: 0;
  width: 50%;
  height: 55px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 17px -1px var(--color-green-1);
  -moz-box-shadow: 0px 0px 17px -1px var(--color-green-1);
  box-shadow: 0px 0px 17px -1px var(--color-green-1);
  color: var(--color-green-2);
  background-color: var(--color-green);
  font-size: 30px;
}
.btn-calling:hover {
  cursor: pointer;
  background-color: var(--color-green-1);
}
/* tab1 */
.tab1 {
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--color-green-2);
  padding: 15px;
}
.calling > h4 {
  margin-top: 20px;
}
.calling {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: var(--color-green-2);

  opacity: 0;
  transition: opacity 0.3s;
}
.calling.active {
  opacity: 1;
}
.calling > span {
  margin-top: 100px;
}
.calling-action {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.calling-action .btn-action {
  margin: 10px;
}
.calling-action .btn-action span {
  border-radius: 8px;
  border: 0;
  padding: 15px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 17px -1px rgb(248, 231, 231);
  -moz-box-shadow: 0px 0px 17px -1px rgb(248, 231, 231);
  box-shadow: 0px 0px 17px -1px rgb(248, 231, 231);
  font-size: 30px;
}
.calling-action .btn-action span:hover {
  cursor: pointer;
  background-color: var(--color-green);
}
.calling .end-call {
  position: absolute;
  bottom: 0;
  background-color: rgb(248, 231, 231);
  color: rgb(247, 110, 110);
}
/* tab1 */
/* tab2 */
.item-his {
  padding: 20px;
}
.item-his > div > div {
  justify-content: space-between;
}
.item-his > div > div > div:last-child {
  text-align: right;
}
.his-status {
  margin-left: 10px;
}
/* tab2 */
