.content {
  width: 100%;
  height: calc(100% - 60px);
}
:root {
  --background: #fff;
  --background-1: #f5f7fb;
  --color-grey: #b5b5b5;
  --color-green: #e7f8f0;
  --color-green-1: #d7f5e7;
  --color-green-2: #10b665;
  --color-green-3: #249782;
}
input:focus {
  outline: none;
}
